#!/bin/sh

set -e

FILENAME=EZUSB_Linux_x64_v1.5.6.zip
SHA256SUM_TGZ="4d3f6c12556faafa01ba507cdfa7f0adb16890cd2eb4a48d85d848fc1bc25e0e"

. /usr/share/debconf/confmodule

db_get libez100pu-downloader/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_set libez100pu-downloader/local /var/cache/libez100pu-downloader

db_get libez100pu-downloader/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_reset libez100pu-downloader/local 


while true; do
    db_input medium libez100pu-downloader/local || true
    db_go
    db_get libez100pu-downloader/local
    if [ -d "$RET" -a -f "$RET"/$FILENAME ]; then
		LOCAL="true"
		break;
    elif [ "x$RET" = "x" ]; then
		break;
    fi
    db_reset libez100pu-downloader/not_exist || true
    db_reset libez100pu-downloader/local || true
    db_text medium libez100pu-downloader/not_exist || true
    db_go
done

if [ "$LOCAL" != "true" ]; then
    db_reset libez100pu-downloader/httpget
    db_input medium libez100pu-downloader/httpget || true
    db_go
    db_get libez100pu-downloader/httpget
fi

